@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: rgb(110, 15, 121);
  --accent-hover: rgb(90, 12, 99);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --font-sans: var(--font-raleway);
  --font-secondary: var(--font-montserrat);
  --font-title: var(--font-libre-bodoni);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), system-ui, sans-serif;
}

@keyframes slideIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
